@keyframes moveIn {
    from { transform: translateX(100vw); }
    to { transform: translateX(0); }
}

#about-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    & > :first-child {
        animation: moveIn 2s backwards;
    }

    & > :nth-child(2) {
        animation: moveIn 2s backwards;
        animation-delay: 0.5s;

    }
}

#about-avatar {
    border: 1px solid var(--purple-darker);
    border-radius: 100%;
    box-shadow: 0px 0px 5px var(--purple-dark);
    width: 200px;
    margin: 0 auto 30px auto;
}

#about-website {
    display: none;
}

@media screen and (min-width: 1126px) and (min-height: 800px)  {
    #about-avatar {
        display: none;
    }

    #about-website {
        display: block;
    }
}

#about-links {
    display: flex;
    gap: 10px;
    padding: 10px;
}

#location, #mail, #phone {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px;
}

#phone :first-child {
    color: var(--purple-dark);
}

#location :first-child {
    transform: translateY(2px);
}

#mail :first-child {
    transform: translateY(3.5px);
}

#phone :first-child {
    transform: translateY(4px);
}