@keyframes moveIn {
    from { transform: translateX(100vw); }
    to { transform: translateX(0); }
}

.about-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    > :first-child {
        animation: moveIn 2s backwards;
    }

    > :nth-child(2) {
        animation: moveIn 2s backwards;
        animation-delay: 0.5s;
    }

    > :nth-child(3) {
        animation: moveIn 2s backwards;
        animation-delay: 1s;
    }
}

@media screen and (min-width: 1280px) {
    .about-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        max-height: 74vh;

        > :first-child {
            grid-column: 1;
            grid-row: span 2;
                        
            img {
                max-height: 45vh;
            }
        }

        > :nth-child(2) {
            grid-column: 2;
            grid-row: 1;
        }

        > :nth-child(3) {
            grid-column: 2;
            grid-row: 2;
        }
    }
}

#hello {
    font-size: 2.5em;
}

@media screen and (max-width: 660px) {
    #hello {
        font-size: 2em;
    }
}

#Maja {
    font-family: var(--handwriting-font);
}

#about-info > * {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#about-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.story {
    text-align: justify;

    a {
        color: var(--purple);
        transition: 0.5s;

        &:hover {
            color: var(--purple-darker);
        }
    }
}
