@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@300&family=Orbitron&family=Quicksand&display=swap');

:root {
    --bg-color: #f2eeff;
    --purple: #9c7be8;
    --purple-dark: #533D98;
    --purple-darker: #322659;
    --purple-light: #E8D6F9;
    --default-font: 'Quicksand', sans-serif;
    --nav-font: 'Dosis', sans-serif;
    --header-font: 'Orbitron', sans-serif;
    --h2-font: 'Dancing Script', cursive;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    cursor: default;
    background-color: var(--bg-color);
    font-size: x-large;
}

main {
    padding: 50px;
    background-color: var(--bg-color);
    font-family: var(--default-font);
    overflow: auto;
}

h2 {
    font-size: 4em;
    font-family: var(--h2-font);
    color: var(--purple-darker);
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 1px solid var(--purple);
}

@media screen and (min-width: 768px) {
    main {
        height: 100vh;
    }
}