#projects img {
    border: 1px solid var(--purple-darker);
}

.tabPanel p {
    max-width: 1000px;
}

#projects a {
    color: var(--purple-dark);
    transition: 0.5s;

    &:hover {
        color: var(--purple);
    }
}