.projects-items {
    margin: auto;
    transition: 1s;
}

.projects-items img {
    border: 1px solid var(--purple-darker);
    max-height: 500px;
    margin: auto;
    transition: 1s;
}

.projects-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.live-demo, .project-description-btn, .source-code {
    display: flex;
    align-items: center;

    :first-child {
        margin-left: 5px;
    }
}

// Change the colour of carousel's arrows
.react-multi-carousel-list button:not(.project-description-btn, .carousel-dots li button) {
    background-color: var(--purple-dark);

    &:hover {
        background-color: var(--purple);
    }
}

.project-description {
    text-align: justify;
}

.project-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 24px 24px 0px 24px;

    a {
        transition: 0.5s;
    
        &:hover, &:focus {
            color: var(--purple);
        }
    }
}

.mobile-instructions {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .react-multi-carousel-list button:not(.project-description-btn) {
        opacity: 0%;
    }

    .mobile-instructions {
        visibility: visible;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .projects-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        opacity: 0;
        transition: 0.5s;
    }

    .projects-items:hover {
        img {
            opacity: 0.5;
        }
    
        .projects-buttons {
            opacity: 1;
        }
    }

    .project-badges {
        margin: 24px 100px 0px 100px;
    }
}