.skillsSection {
    margin: 30px auto;
    max-width: 1000px;

    h3 {
        color: var(--purple);
        font-size: xx-large;
        font-family: var(--header-font);
        margin-bottom: 30px;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
}