//Sidebar
#nav ul li span:hover {
    color: #b794f4;
}


@media screen and (max-width: 960px) {
    #header {
        width: 100%;
    }
    
    #sidebar {
        display: none;
    }
}

//About Me
#about {
    max-height: 60vh;
}

#about header {
    font-size: 8vh;
    font-family: 'Parisienne', cursive;
    color: black;
    margin-top: -6vh;
    margin-left: -25vw;
    margin-bottom: 0px;
    color: black;
    text-shadow: 1px 1px white;
}

#about p {
    font-size: 4vh;
    margin-top: -5vh;
    color: black;
}

//Skills

#skills p {
    line-height: 2;
}

//Projects

#projects img {
    border: 1px solid black;
}

//Chatbot

#chatInput {
    width: 50%;
}

#clearInput {
 color: #888 !important;
 margin: -20px;
}